@keyframes loader {
  0% { transform: rotate(0deg);}
  50% { transform: rotate(100deg);}
  100% { transform: rotate(360deg); }

  0% {opacity: 1;}
  80% {opacity: 0.5;}
  100% {opacity: 0;}
}

@keyframes greenbox {
  0% {
  transform: translateX(-20%);
  }
  100% {
  transform: translateX(0);
  }
}


@keyframes fa-check-circle {
  0% {
  transform: rotate(0);
  }
  100% {
  transform: rotate(360deg);
  }
}
/***apparition progressive du menu**/
@keyframes mesentrees {
  0% {transform: translateY(0);
    opacity: 0;}

  50% {transform: translateY(-7px);
    opacity: 0.5;}

  100% {transform: translateY(-15px);
    opacity: 1;}
}

@keyframes mesplats {
  0% {transform: translateY(0);
    opacity: 0;}
  50% {transform: translateY(-7px);
    opacity: 0.5;}
  100% {transform: translateY(-15px);
    opacity: 1;}
}

@keyframes mesdesserts {
  0% {transform: translateY(0);
    opacity: 0;}
  50% {transform: translateY(-7px);
    opacity: 0.5;}
  100% {transform: translateY(-15px);
    opacity: 1;}
}


