@import "footer.css";


/**header**/
.fa-arrow-left {
  font-size: 1.2em;
  position: absolute;
  left: 10px;
  color: black;
}
.img2 {
  width: 100%;
  height: 251px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
/*fond gris*/
.container_gris {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0px 0px;
  margin-top: -40px;
  padding-bottom: 5px;
}
/**titre principal+coeur**/
.titre_menu {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
  font-size: 1.7em;
  margin-left: 20px;
  padding-top: 30px;
}
.coeur {
  position: absolute;
  top: -170px;
  right: 5px;
}
/*Entree-plat-dessert*/
.sous_titre {
  margin-left: 20px;
  font-size: 1.2em;
  border-bottom: 5px solid #99e2d0;
  padding-bottom: 5px;
  margin-top: 45px;
  width: 50px;
}
/*le menu*/
.pave_menu {
  padding-left: 15px;
  background-color: white;
  margin: 0px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 3px 5px 3px rgb(233, 226, 226);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 75px;
}
/*entree_nom+entree_detail*/
.bloc_sousmenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.entree_nom, .plat_nom, .dessert_nom {
  font-weight: bold;
  margin-bottom: 10px;
}
.entree_prix, .plat_prix, .dessert_prix {
  display: flex;
  flex-direction: column-reverse;
  width: 10%;
  align-items: center;
  font-weight: bold;
  margin-bottom: 15px;
  margin-right: 15px;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/**Greenbox**/
.greenbox {
  background-color: #99e2d0;
  width: 0;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  transition: width 2s ;
  overflow: hidden;
  }
.fa-check-circle {
  color: white;
  font-size: 1.7em;
  transition: transform 1000ms ease-in-out;
  }
  /**Animation carré vert**/
.pave_menu:hover .greenbox {
  width: 30%;
  }
.pave_menu:hover .fa-check-circle {
  transform: rotate(360deg);
  opacity: 1;
  }
/**apparition progressive**/
.entree_anim {
  animation: mesentrees 2s both;
  opacity: 1;
}
.plat_anim {
  animation: mesplats 4s both;
  opacity: 1;
}
.dessert_anim {
  animation: mesdesserts 6s both;
  opacity: 1;
}
/*commande*/
.bouton_commande {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 30px;
  margin-bottom: 60px;
}
.commande {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: white;
  font-weight: normal;
  height: 50px;
  width: 218px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.commande:hover{
  opacity: 0.9;
  transform: scale(1.001);
}
@media screen and (min-width: 1024px) {
  .section_menus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .menu_entrees,
  .menu_plats,
  .menu_desserts {
    width: 30%;
  }
}
