
/**menu3**/
.fa-arrow-left
{
    font-size: 1.2em;
    position: absolute;

}
.img2{
    width: 100%;
    height: 251px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}


.container_gris{
    position:relative;
    background-color:#f6f6f6;
    border-radius: 50px 50px 0px 0px;
    margin-top: -40px;
    padding-bottom: 5px;
}

.section_menus{
    display: flex;
    flex-direction: column;
}

.titre_menu1, .titre_menu2, .titre_menu3, .titre_menu4{
    font-family: 'Shrikhand', cursive;
    font-weight: bold;
    font-size: 1.7em;
    margin-left: 20px;
    padding-top: 30px;
}

.coeur{
    position : absolute;
    top : -170px; 
    right : 5px;
    
}

.titre_entrees, .titre_plats, .titre_desserts{
    margin-left: 20px ;
    font-size: 1.2em;
    border-bottom: 5px solid #99E2D0 ;
    padding-bottom: 5px;
    margin-top: 45px;
    width: 50px;
}
.entree1, .entree2, .entree3, .entree4 {
    padding: 15px;
    background-color: white;
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 3px rgb(233, 226, 226);
    cursor: pointer;
}
.entree1_nom, .entree2_nom, .entree3_nom
{
    font-weight: bold;
    margin-bottom: 10px;
    
}
.entree1_detail, .entree2_detail, .entree3_detail{
    display: flex;
    justify-content: space-between;
}
.plat1, .plat2, .plat3{
    padding: 15px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 3px rgb(233, 226, 226);
    cursor: pointer;
}

.plat1_nom, .plat2_nom, .plat3_nom
{
    font-weight: bold;
    margin-bottom: 10px;
}

.plat1_detail, .plat2_detail, .plat3_detail{
    display: flex;
    justify-content: space-between;
}
.dessert1, .dessert2, .dessert3{
    padding: 15px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 3px rgb(233, 226, 226);
    cursor: pointer;
}
.dessert1_nom, .dessert2_nom, .dessert3_nom
{
    font-weight: bold;
    margin-bottom: 10px;
}
.dessert1_detail, .dessert2_detail, .dessert3_detail{
    display: flex;
    justify-content: space-between;
}

span{
    font-weight: bold;
}

.bouton_commande
{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
}


.commande{
    background: linear-gradient(to bottom right,#FF79DA,#9356DC);
    color: white;
    font-weight:normal;
    height: 50px;
    width: 218px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}


@media screen and (min-width: 1024px) {
.section_menus{
display: flex;
flex-direction: row;
justify-content: space-around;}

.menu_entrees, .menu_plats, .menu_desserts{
width: 30%;

}

}